<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="nrc" xmlns:ng="http://angularjs.org">
    <head>
        <base href="/"></base>
        
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <a href="#/home" >Home</a>
        <h1>Welcome to NRC Booth</h1>
        
        <div ui-view ></div>
            
        <script src="/lib/angular/angular-1-2-2.js"></script>        
        <script src="/lib/angular/angular-ui-router.min.js"></script>        
        <script src="/lib/underscore-min.js"></script>
        
        <!--SCRIPTS-->
        <script src="/linker/js/app.js"></script>
        <script src="/linker/js/controllers/ManageCardsCtrl.js"></script>
        <!--SCRIPTS END-->
        
    </body>
</html>
